@{
    ViewData["Title"] = "Current Weather";
}

<div class="text-center">
    <h1 class="display-4">Get weather data here</h1>
    <form>
        <input title="Day span" value="7"/>
        <button type="submit">Get daily forecast</button>
    </form>
</div>

